body {
  background-color: black;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.header a{
  float: left;
}

.header p {
  text-align: right;
  margin-left: auto;
  display: inline-block;
  float: right;
  margin: 0;
  font-size: 1.5rem;
}

.transition-triangle {
  position: absolute;
  opacity: 1;
  transition: 8s opacity;
  z-index: 10;
}

.poster .main-triangle {
  opacity: 0;
  transition: 8s opacity;
}

.poster.main-active .main-triangle {
  opacity: 1;
}

.poster.main-active .transition-triangle {
  opacity: 0;
}
